@import "tailwindcss";


.main {
  font-family: 'MainFont', sans-serif;
}

.secondary {
  font-family: 'SecondaryFont', sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

:root {
  --main-font: 'MainFont', sans-serif;
  --secondary-font: 'SecondaryFont', sans-serif;
  --background: #323643;
  --foreground: #606470;
}